@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: inherit;
}

#wpcontent {
	@apply sp-pl-0;
}

.auto-fold { 
	#wpcontent {
		@apply sp-pl-0;
	}
}

.notice {
	@apply sp-hidden;
}
